.page-container {
  margin: 0 auto;
}

.title {
  /* width: 600px; */
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 20px;
}

.title h1 {
  font-family: 'courier new', sans-serif;
  color: grey;
  display: block;
  vertical-align: top;
  margin: 0;
}

.title h2 {
  font-family: 'courier new', sans-serif;
  color: lightgrey;
  display: block;
  vertical-align: top;
  margin: 0;
}

.about {
  /* width: 600px; */
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;

  display: block;

  font-family: 'courier new', sans-serif;
}

.about a {
  text-decoration: none;
  text-decoration: underline;
  color: black;
}

.about a:hover {
  color: grey;
}

.links {
  /* width: 600px; */
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;

  font-family: 'courier new', sans-serif;
  color: black;
}

.links a {
  text-decoration: none;
  text-decoration: underline;
  padding-right: 20px;
  font-family: 'courier new', sans-serif;
  color: black;
}

.links a:hover {
  color: grey;
}

.main {
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;

  font-family: 'courier new', sans-serif;
  color: black;
}

.main a {
  text-decoration: none;
  text-decoration: underline;
  color: black;
}

.main a:hover {
  color: tomato;
}

.list {
  font-size: 14px;
  display: inline;
}